@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.GridRowViewModel>

<div>
  <table style="width:100%;">
        <tbody>
            <tr>
                <td>@Model.Column(1).Output()</td>
            </tr>
        </tbody>
    </table>
</div>