@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>

<div>
	@Model.Item.GetString("Title")
  	@Model.Item.GetString("Text")
  	@Model.Item.GetString("Icon")
</div>