@inherits Dynamicweb.Rendering.ViewModelTemplate<Dynamicweb.Frontend.ParagraphViewModel>

<div>
  <img src="/Admin/Public/GetImage.ashx?Image=@Model.Item.GetFile("Image")&Width=1200" style="max-width:100%;"/>
</div>